@using Garden.Data;

@inject ApplicationDbContext db

<h1 class="my-4">Shop Name</h1>
<div class="list-group">
    @foreach (var category in db.PlantTypes.Select(x => x.Name))
    {
        <a href="#" class="list-group-item">@category</a>
    }
</div>

