@model List<Plant>

@{
    ViewData["Title"] = "Library";
}

<div class="row">
    <div class="col-lg-3">
        @await Component.InvokeAsync("LeftSidebar")
    </div>
    <div class="col-lg-9">
        <br />
        <div class="jumbotron">
            <h1 id="category">@ViewBag.Category</h1>
            @if (Model.Count == 0)
            {
                <p>Ничего не найдено</p>
            }
        </div>
        <div id="plants" class="row">
            @foreach (var plant in Model)
            {
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        @if (plant.Photos.Count == 0)
                        {
                            <img src="http://placehold.it/200x300" alt="" >
                        }
                        else
                        {
                            <img src="@plant.Photos[0].PathToPhoto" alt="" style="height: 300px">
                        }
                        <div class="caption">
                            <h4>
                                <a asp-route="plant" asp-route-id="@plant.Id">@plant.Title</a>
                            </h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/get_plants.js"></script>
}