@model List<Plant>

@{
    ViewData["Title"] = "Library";
}
<div class="count" hidden>@Model.Count</div>

<div class="row">
    <div class="col-lg-3">
        @await Component.InvokeAsync("LeftSidebar")
    </div>
    <div class="col-lg-9">
        <br />
        <div class="jumbotron">
            <h1>@ViewBag.Category</h1>
            @if (Model.Count == 0)
            {
                <p>Ничего не найдено</p>
            }
        </div>
        <div class="row">
            @foreach (var plant in Model)
            {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/455x566" alt="">
                    <div class="caption">
                        <h4>
                            <a asp-route="plant" asp-route-id="@plant.Id">@plant.Title</a>
                        </h4>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>